{:tasks
 {:requires ([babashka.fs :as fs])

  dev
  {:doc "run shadow-cljs in watch mode"
   :task (shell "pnpm exec shadow-cljs watch app")}

  build
  {:doc "build the complete production site in dist/"
   :task (do
           (fs/delete-tree "dist")
           (shell "rsync -a --exclude=/js/ --exclude=/css/main.css --exclude=.DS_Store resources/public/ dist/")
           (run 'css:release)
           (shell "pnpm exec shadow-cljs release app"))}
  
  css:dev
  {:doc "run tailwind cli process"
   :task (shell
          "npx @tailwindcss/cli -i ./src/css/global.css -o ./resources/public/css/main.css --watch")}

  css:release
  {:doc "build minified production CSS in dist/"
   :task (shell "npx @tailwindcss/cli -i ./src/css/global.css -o ./dist/css/main.css --minify")}}}
