{:paths ["src" "resources"]
 :aliases {:test {:extra-paths ["test"]}}

 :deps
 {org.clojure/clojure
  {:mvn/version "1.12.0"}

  org.clojure/clojurescript
  {:mvn/version "1.12.134"}

  thheller/shadow-cljs
  {:mvn/version "3.5.0"}

  cider/piggieback
  {:mvn/version "0.7.0"}
  
  cider/cider-nrepl
  {:mvn/version "0.62.2"}
  
  no.cjohansen/replicant
  {:mvn/version "2026.07.1"}

  io.github.nextjournal/markdown
  {:mvn/version "0.7.225"}
  
  metosin/reitit
  {:mvn/version "0.10.1"}

  no.cjohansen/dataspex
  {:mvn/version "2026.06.3"}}}
